PORT=4001
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/cinematch_reviews

# IMPORTANT : doit être IDENTIQUE au JWT_SECRET de backend-main,
# sinon ce service ne peut pas vérifier les tokens émis par backend-main
JWT_SECRET=remplacer_par_le_meme_secret_que_backend-main
